.fs-pathbar {
	margin: 0;
	padding: 0;
	overflow-x: auto;
	list-style-type: none;
}

.fs-pathbar > .pathbar-segment {
	display: inline-block;
	cursor: pointer;
}

.fs-pathbar > .pathbar-segment:last-child {
	border-bottom: 1px solid #888;
}

.fs-pathbar > .pathbar-segment:before {
	content: "/";
}

.fs-pathbar > .pathbar-segment.pathbar-root {
	font-weight: bold;
}
