<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ .title }}</title>

	<script>
		window.URLROOT = '{{ .urlroot }}';
	</script>

	{{ with $v := . }}
		{{ range $v.assets.css }}
			<link rel="stylesheet" href="{{ $v.urlroot }}{{ . }}" />
		{{ end }}
	{{ end }}
	{{ with $v := . }}
		{{ range $v.assets.js }}
			<script src="{{ $v.urlroot }}{{ . }}"></script>
		{{ end }}
	{{ end }}

	{{ if .piwik }}
		<script type="text/javascript">
			var _paq = _paq || [];
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="{{ .piwikRoot }}";
				_paq.push(['setTrackerUrl', u+'/piwik.php']);
				_paq.push(['setSiteId', {{ .piwikSiteID }}]);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/piwik.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<noscript><img src="{{ .piwikRoot }}/piwik.php?idsite={{ .piwikSiteID }}" style="border:0;" alt="" /></noscript>
	{{ end }}
</head>
<body>
	<div class="fs-header">
		<a
			class="fs-download fa fa-cloud-download"
			target="_blank"
			href="{{ .urlroot }}/download/{{ .path }}.zip"
			title="Download this folder"></a>
	</div>

	<div class="fs-tilelist-container container"></div>

	<div class="fs-footer text-center">
		<small>
			&copy; <a target="_blank" href="https://twitter.com/polyfloyd">polyfloyd</a> {{ .time.Year }}
			<br />
			Version: {{ .version }} ({{ .versionDate }})
		</small>
	</div>

	<script>
		initApp({
			files: {{ .files }},
			path:  '{{ .path }}',
		});
	</script>
</body>
</html>
